<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/069a3d9452.js"></script>
  <!-- Custom boostrap style -->
  <link rel="stylesheet" href="/styles/pagination.css">
</head>

<body style="background-color: rgb(227, 227, 227)">
  <header class="topbar responsive-header">
    <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark font-weight-bold">
      <div class="collapse navbar-collapse pl-4">
        <a class="navbar-brand lead text-monospace" style="font-size: 23px" href="/">Mond</a>
      </div>
      <div class="navbar-nav pr-5">
        <a class="nav-item nav-link" href="/">HOME</a>
        <a class="nav-item nav-link" href="/portfolios">PORTFOLIO</a>
        <a class="nav-item nav-link" href="/blogs">BLOGPOSTS</a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="aboutMeDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            ABOUT ME
          </a>
          <div class="dropdown-menu" aria-labelledby="aboutMeDropdownMenuLink">
            <a class="nav-item nav-link text-dark" href="/about">ABOUT ME</a>
            <a class="nav-item nav-link text-dark" href="/contact">CONTACT ME</a>
            <a class="nav-item nav-link text-dark" href="/questions">QUESTIONS</a>
          </div>
        </li>
        {{#if isLoggedIn}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="adminDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            ADMIN
          </a>
          <div class="dropdown-menu" aria-labelledby="adminDropdownMenuLink">
            <a class="nav-item nav-link text-dark" href="/portfolios/create">CREATE PORTFOLIO</a>
            <a class="nav-item nav-link text-dark" href="/blogs/create">CREATE BLOG</a>
            <a class="nav-item nav-link text-dark" href="/blogs/create">LOGOUT</a>
          </div>
        </li>
        {{else}}
        <a class="nav-item nav-link" href="/login">LOGIN</a>
        {{/if}}
      </div>
    </nav>
  </header>
  <div class="px-5 py-5">
    {{{body}}}
  </div>
  <nav class="navbar-dark bg-dark">
    <div class="navbar-nav text-center">
      <span class="nav-item nav-link active">Copyright © 2019 </span>
    </div>
  </nav>
</body>

</html>