<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  {{> header }}
</head>

<body style="background-color: rgb(227, 227, 227)">
  <div class="px-5 py-5">
    {{{body}}}
  </div>
  {{> footer }}

</body>

</html>