<div class="text-center px-4" style="background-color: white">
    <div class="pt-4">
        <img src="/images/myPhoto2.gif" style="width:280px;" class="border rounded-circle">
    </div>
    <h3 class="font-weight-light text-muted pt-3">Hi, I am</h3>
    <h1 class="text-primary font-weight-bold display-4">Mond</h1>
    <h4 class="font-weight-light text-muted">Developer & Photographer</h4>
    <hr style="text-primary">
    <p class="lead" style="font-size: 22px">Hi! My name is Mond. I’m 21 years old, and I live in Bangkok which
        is the capital of
        Thailand.
        <br>
        I enjoy learning new things and challenging myself.
        <br>
        I’m interested in programming, music, movie and photography.</p>
    <br>
</div>