<div class="px-4" style="background-color: white">
    <div class="pt-4">
        <div class="text-center lead">
            <h1 class="display-4">My Contact <i class="far text-danger fa-address-card pl-1"></i></h1>
            <p class="text-muted">
                Please feel free to contact me if you need any further information about me.
            </p>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col text-center">
                <i class="text-white bg-warning fas fa-map-marker-alt fa-4x circle-icon"></i>
                <p class="pt-3 lead" style="font-size: 21px">
                    <kbd style="font-size: 22px">ADDRESS</kbd>
                </p>
                <p class="lead">
                    215/180 Prasertmanukit 29 road,
                    Ladphrao district,
                    Bangkok 10230, Thailand.
                </p>
            </div>
            <div class="col text-center">
                <i class="text-white bg-success fas fa-4x fa-mobile-alt circle-icon"></i>

                <p class="pt-3 lead" style="font-size: 21px">
                    <kbd style="font-size: 22px">PHONE</kbd>
                </p>
                <p class="lead font-weight-bold">
                    TEL:
                    <a class="lead text-success" href="tel:+66859732299">+668-5973-2299</a>
                </p>
            </div>
            <div class="col text-center">
                <div>
                    <i class="text-white bg-primary fa-4x fas fa-users circle-icon"></i>
                    <p class="pt-3 lead" style="font-size: 21px">
                        <kbd style="font-size: 22px">SOCIALS</kbd>
                    </p>
                </div>
                <p class="lead font-weight-bold">
                    <i class="far fa-lg fa-envelope"></i> Email: <a class="lead text-info"
                        href="mailto:mic.mond@hotmail.com">mic.mond@hotmail.com</a>
                </p>
                <p class="lead font-weight-bold">
                    <i class="fab fa-lg fa-facebook-f"></i> Facebook: <a class="lead text-info"
                        href="https://www.facebook.com/mondmic">mondmic</a>
                </p>
                <p class="lead font-weight-bold">
                    <i class="fab fa-lg fa-twitter"></i> Twitter: <a class="lead text-info"
                        href="https://twitter.com/puow_mond">@puow_mond</a>
                </p>
            </div>
        </div>
    </div>
</div>


<style>
    .circle-icon {
        width: 115px;
        height: 115px;
        border-radius: 50%;
        text-align: center;
        line-height: 115px;
        vertical-align: middle;
    }
</style>