<div class="text-center px-4" style="background-color: white">
    <div class="pt-4">
        <img src="/images/myPhoto.png" style="width:300px;" class="border rounded-circle">
    </div>
    <h1 class="font-weight-bold display-4">Hi, I am <span class="text-primary">Mond</span></h1>
    <h4 class="font-weight-bold text-muted">Developer & Photographer</h4>
    <hr style="text-primary">
    <p class="lead text-muted">Hi! My name is Mond. I’m 21 years old, and I live in Bangkok which is the capital of
        Thailand.
        <br>
        I enjoy learning new things and challenging myself.
        <br>
        I’m interested in programming, music, movie and photography.</p>
    <br>
</div>