<div class="jumbotron jumbotron-fluid bg-dark">
    <div class="container text-monospace text-white">
        <div class="row">
            <h1 class="display-4">Internal Server Error</h1>
            <i class="pl-4 far fa-4x fa-dizzy"></i>
        </div>
        <p class="lead">We are working on fixing it...</p>
    </div>
</div>