<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <div class="d-flex align-items-center">
                <i class="fab fa-3x text-danger fa-quora"></i>
                <span class="pl-3 text-monospace lead text-dark font-weight-bold">
                    What is your name?
                </span>
            </div>
            <div class="pr-2">
                <form method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button formaction="/faq/2" type="submit" class="btn btn-outline-danger">
                        <i class="fas fa-lg fa-trash-alt"></i>
                        <span class="text-monospace lead pl-2">Delete</span>
                    </button>
                </form>
            </div>
        </div>
        <div class="card-body">
            <form method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="d-flex bd-highlight text-muted">
                    <i class="p-2 bd-highlight fab fa-3x fa-amilia"></i>
                    <div class="p-2 flex-grow-1 bd-highlight pl-3">
                        <input class="form-control form-control-lg text-monospace lead" name="answer" type="text"
                            value="Test">
                    </div>
                </div>
                <div class="text-right pt-2 pr-2">
                    <button formaction="/faq/2" type="submit" class="btn btn-outline-success">
                        <i class="fas fa-lg fa-edit"></i>
                        <span class="text-monospace lead pl-2">Update</span>
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>