<div class="jumbotron" style="background-color: white;">
  <div class="row justify-content-center">
    <div class="pl-5 text-center">
      <img src="/images/myPhoto.png" style="width:325px;" class="border rounded-circle float-left">
    </div>
    <div class="pl-4 text-center">
      <h1 class="display-4 lead"><kbd>Hello, world!</kbd></h1>
      <p class="text-monospace pt-3 lead" style="font-size: 21px">I'm <kbd style="font-size: 22px">Mond</kbd> from
        Thailand!<br>
        I love programming, as well as taking photos and learning new things!</p>
      <hr class="my-4">
      <p class="text-monospace lead text-right">feel free to get in touch or take a look at my past work below. </p>
      <a class="btn btn-outline-dark btn-lg float-right mx-2" href="#" role="button">
        <i class="fas fa-code"></i>
        <span class="text-monospace lead pl-2">Read more</span>
      </a>
    </div>
  </div>
</div>

<div class="jumbotron" style="background-color: rgb(48, 48, 48)">
  <div class="pl-4 text-center text-white">
    <h1 class="display-4 lead text-monospace">My Contact</h1>
    <hr class="my-4" style="border-color:white">
    <p class="text-monospace lead">
      <i class="far fa-lg fa-envelope"></i> Email: <a class="text-warning"
        href="mailto:mic.mond@hotmail.com">mic.mond@hotmail.com</a>
    </p>
    <p class="text-monospace lead">
      <i class="fas fa-lg fa-mobile-alt"></i> Phone: <a class="text-warning" href="tel:+66859732299">+668-5973-2299</a>
    </p>
    <p class="text-monospace lead">
      <i class="fab fa-lg fa-facebook-f"></i> Facebook: <a class="text-warning"
        href="https://www.facebook.com/mondmic">mondmic</a>
    </p>
  </div>
</div>

<style>
  .jumbotron {
    margin-bottom: 0px;
  }
</style>